@model VA_EcommerceWebsite.ViewModels.CartModel

<a asp-controller="Cart" asp-action="index" class="btn border">
        <i class="fas fa-shopping-cart text-primary"></i>
        <span class="badge">@Model.Quantity</span>
    </a>